{{ define "main" }}
<style>
/* force home menu hover red */
a:hover, a:focus { color: red !important; }
</style>

<style>
  .fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('{{ "images/home/hero.jpg" | relURL }}');

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .hero-name {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 16px;
  }
  .fullscreen-menu {
    position: fixed;
    top: 30%;
    left: 10%;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
</style>

<div class="fullscreen-bg"></div>

<div class="hero-name">
  
</div>

<div class="home-bg" style="background-image:url('{{ "images/home/hero.jpg" | absURL }}');">
  <!-- 你的左側選單/內容 -->
</div>

<div class="fullscreen-menu">
  <a href="{{ "works/" | relURL }}">works</a>
<a href="{{ "works-img/" | relURL }}">works (img)</a>
<a href="{{ "about/" | relURL }}">about</a>
<a href="{{ "cv/" | relURL }}">cv</a>
<a href="{{ "contact/" | relURL }}">contact</a>
</div>
{{ end }}
